.search_bar{
    margin: 0 auto;
    width: 960px;
    padding: 20px;
}
.search_background{
    background-image: url("../img/football_field.jpg");
}
.submit_button{
    border: 2px solid #00ff00;
    border-radius: 3px 3px 3px 3px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.search_info{
    color: white;
    font-size: 24px;
    width: 400px;
    margin:10px 10px 10px 0;
}
.search_select{
    width: 150px;
    margin:0;
    padding: 0;
    height: 25px;
    border: 2px solid #00ff00;
}
.submit_button:hover{
    background-color: #ffffff;
}

.stadium{
    width: 300px;
    height: 150px;
    float: left;
    margin: 10px;
    background-image: url('../img/stadium_element.jpg');

}
.stadium_element{
    float: left;
    margin: 2px;
    width: 146px;
}

.stadium_left_info{
    background-color: #EEEEEE;
    margin: 10px 10px 10px 0;
    padding: 10px;
    width: 300px;
}

.dotted-line{
    border-bottom: 1px dotted #333333;
}