<footer>
    <div class="footer">
        <div class="top_menu_content">
            <div class="top_navigation navigation_footer">
                <ul>
                    <li class="navigation_element"><a href="#">Поля</a>  | </li>
                    <li class="navigation_element"><a href="#">Помощь</a>  | </li>
                    <li class="navigation_element"><a href="#">Контакт</a> | </li>
                    <li class="navigation_element"><a href="#">Условия использования</a> | </li>
                    <li class="navigation_element"><a href="#">Конфиденциальность</a>  </li>
                </ul>
            </div>
        </div>
    </div>
</footer>