<footer class="footer">
        <div class="top_menu_content">
            <div class="footer_social">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_mail_ru_hcount' displayText='mail.ru'></span>
            </div>
            <div class="top_navigation navigation_footer">
                <ul>
                    <li class="navigation_element"><a href="#">Поля</a>  | </li>
                    <li class="navigation_element"><a href="#">Помощь</a>  | </li>
                    <li class="navigation_element"><a href="#">Контакт</a> | </li>
                    <li class="navigation_element"><a href="#">Условия использования</a> | </li>
                    <li class="navigation_element"><a href="#">Конфиденциальность</a>  </li>
                </ul>
            </div>
        </div>
</footer>