<div id="top_menu">
    <div class="top_menu_content">
        <div class="top_navigation">
            <ul>
                <li class="navigation_element"><a href="#">Главная</a></li>
                <li class="navigation_element"><a href="#">Поля</a> </li>
                <li class="navigation_element"><a href="#">Помощь</a> </li>
            </ul>
        </div>
    </div>
</div>