body{
    margin:0;
    padding: 0;
}
html{
    background: url('../img/background/wallpaper.jpg') no-repeat fixed 50% 0 #000000 !important ;
    /*background-image: url("../../bundles/fairplaymain/img/football_field.jpg");*/
}
/*Header*/
#top_menu{
    height: 68px;
    background-color: #333333;
}
.top_menu_content{
    width: 960px;
    margin: 0 auto;
    height: 100%;
    color: #ffffff;
}
.top_navigation{
    float: right;
}
.top_navigation > ul{
    list-style-type: none;
    padding: 5px 0 0;
}
.navigation_element{
    text-decoration: none;
    display: block;
    float: left;
}
.navigation_element > a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
.navigation_element > a:hover, .navigation_element> a:active{
    background-color: #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin-right: 5px;

}

/*Footer*/
.footer{
    height: 200px;
    bottom: 0;
    left:0;
    position: fixed;
    width: 100%;
    background-color: #333333;
    border-top: 3px #666666 solid;
}
.navigation_footer{
    margin-top: auto;
    margin-bottom: auto;
}
.navigation_element > .footer_menu> a:hover, .navigation_element> a:active{
    color: #ffffff;
}
.footer_social{
    float: left;
    margin-top: 20px;
}

/*Content*/
.content{
    margin: 10px auto;
    width: 960px;
}


#back-top {
    position: fixed;
    bottom: 30px;
    right: 20px
}

#back-top a {
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(../img/up-arrow.png) no-repeat center center;
    box-shadow: 0 0 10px rgb(222, 222, 222);

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}