* {
    margin: 0;
}
html, body {
    height: 100%;
}
html{
    background-color: #205081;
}
/*Header*/
#top_menu{
    height: 50px;
    background-color: rgb(22, 55, 89);
    border-bottom: 2px solid rgb(238, 238, 238);
}
.top_menu_content{
    width: 960px;
    margin: 0 auto;
    color: #ffffff;
    padding: 10px 0;
}
.top_navigation{
    float: right;
}
.top_navigation > ul{
    list-style-type: none;
    padding: 0;
}
.navigation_element{
    text-decoration: none;
    display: block;
    float: left;
}
.navigation_element > a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
.navigation_element > a:hover, .navigation_element> a:active{
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin-right: 5px;

}

/*Footer*/
.footer{
    background-color: #333333;
    border-top: 3px #666666 solid;
}
.navigation_footer{
    margin-top: auto;
    margin-bottom: auto;
}
.navigation_element > .footer_menu> a:hover, .navigation_element> a:active{
    color: #ffffff;
}
.footer_social{
    float: left;
    margin-top: 20px;
}

/*Content*/
.content{
    margin: 10px auto;
    width: 960px;
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;

}

.content:after {
    content: "";
    display: block;
}

.footer, .content:after {
    /* .push must be the same height as footer */
    height: 142px;
}
#back-top {
    position: fixed;
    bottom: 3%;
    right: 3%
}

#back-top a {
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(../img/up-arrow.png) no-repeat center center;
    box-shadow: 0 0 10px #EEEEEE;

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #385673;
}



div.dropdown {
    color: #555;
    margin: 3px -22px 0 0;
    width: 143px;
    position: relative;
    height: 17px;
    text-align:left;
}
div.submenu
{
    background: #fff;
    position: absolute;
    top: -12px;
    left: -20px;
    z-index: 100;
    width: 135px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown  li a {

    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
}

.dropdown li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;

}
a.account {
    font-size: 16px;
    line-height: 16px;
    color: #555;
    position: absolute;
    z-index: 110;
    display: block;
    padding: 11px 0 0 20px;
    height: 28px;
    width: 121px;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    background: url(../img/arrow.png) 116px 17px no-repeat;
    cursor:pointer;
}
.root
{
    list-style:none;
    margin:0px;
    padding:0px;
    font-size: 11px;
    padding: 11px 0 0 0px;
    border-top:1px solid #dedede;


}
#map_canvas{
    margin-top: 10px;
}