<div class="">
<form method="post" action="{{ path('fairplay_main_search',{id:1}) }}">
<select class="search_select" name="district">
    {% for district in districts %}
    <option value="{{district.id}}">{{ district.name }}</option>
    {% endfor %}
</select>
    <input class="submit_button" type="submit" value="Поиск"/>
</form>
</div>
